@import '~office-ui-fabric-react/dist/sass/References.scss';

.videoRecord {

  .recordingStatus {
    color: red;
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
  }

  .playbackStatus {
    color: green;
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
  }

  .videoCanvas {
    background-color: black;
    width: 100%;
  }
}

.svgBox {
  display:inline-block;
  position: relative;
  width:150px;
}

.greenStroke {
  stroke:green;
}


.circular circle.path {
  stroke-dasharray: 330;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  opacity: 0.4;
  animation: 0.7s draw-circle ease-out;
}

/*------- Checkmark ---------*/
.checkmark{
stroke-width: 6.25;
  stroke-linecap: round;
position:absolute;
  top: 56px;
  left: 49px;
  width: 52px;
  height: 40px;
}

.checkmark path {
  animation: 1s draw-check ease-out;
}

.success {
  width: 100%;
  text-align: center;
}

@keyframes draw-circle {
  0% {
      stroke-dasharray: 0,330;
      stroke-dashoffset: 0;
      opacity: 1;
  }

  80% {
      stroke-dasharray: 330,330;
      stroke-dashoffset: 0;
      opacity: 1;
  }

  100%{
      opacity: 0.4;
  }
}

@keyframes draw-check {
  0% {
      stroke-dasharray: 49,80;
      stroke-dashoffset: 48;
      opacity: 0;
  }

  50% {
      stroke-dasharray: 49,80;
      stroke-dashoffset: 48;
      opacity: 1;
  }

  100% {
      stroke-dasharray: 130,80;
      stroke-dashoffset: 48;
  }
}

@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}